.black-header {
    flex-direction: row;
}

.wrapper-function-new {
    width: 90px;
    height: 80px;
    /* border: 2px solid red; */
    justify-content: left;
    display: flex;
    flex-direction: row;

}

.wrapper-function-new img {
    flex: 1;
    height: 100%;
    border-radius: 10px;

    max-width: 120px;
    max-height: 106px;
}


.news-content-box-right {
    margin-left: 55px;
}